<aside class="bg-light py-3">
  <div class="content d-flex flex-row flex-wrap gap-2">
  <f:alias map="{address:settings.address,height:64}">
    <img
      alt="Logo 3M"
      src="" 
      height="{height}"
      class="border"
    />
    <img
      alt="{address.company} {address.type} - 3M Gold Converter Partner"
      src="" 
      height="{height}" 
      class="border"
    />
    <img
      alt="Logo Tesa"
      src="" 
      height="{height}" 
      class="border"
    />
    <img
      alt="{address.company} {address.type} - Tesa Gold Converter Partner"
      src="" 
      height="{height}" 
      class="border"
    />
  </f:alias>
  </div>
</aside>