@charset "UTF-8";
@import url("spritesets.css");
@import url("fonts.css");
@import url("materialdesignicons.css");

:root {
  --color-brand: #0A54A0;
  --color-brand-rgb: 10,84,160;
  
  --bs-body-color: #666;
  --bs-link-color: var(--color-brand);
  --bs-link-color-rgb: var(--color-brand-rgb);
  
  --bs-dark: #969696;
  --bs-dark-rgb: 150,150,150;
   
  --ui-min-width: 320px;
  --ui-max-width: 1280px;
  --ui-avg-width: 90vw;
  
  --ui-width: max( 
    var(--ui-min-width), 
    min( 
      min( 100%, var(--ui-avg-width) ), 
      var(--ui-max-width) 
    )
  );
  
  --logo-height: min( 20vh, 6rem );
  --mi-icon-size: 1.5rem;
}

#silo-navigation.navbar {
  --bs-navbar-active-color: var(--bs-white);
}

#silo-navigation.navbar a.active {
  background-color: var(--color-brand);
}

#main-navigation.navbar a {
  text-transform:uppercase;
}

#main-navigation.navbar a.active {
  border-bottom: 2px solid var(--bs-dark);
}

.content {
  position:relative;
  width: var(--ui-width);
  margin-inline: auto;
}

a { text-decoration:none; }

a[data-type] { position:relative }
a[data-type]::after {
  content: "";
  position:absolute;
  top:.25rem;
  right:-1.25rem;
  display:block;
  font-size: .5rem;
  width: 1rem;
  height: 1rem;
  color: var(--bs-dark);
  border: 1px solid var(--bs-dark);
  border-radius: 50%;
  text-align:center;
}

a[data-type="info"]::after { content:"i" }

.contact[data-sprite] {
  background-image: url(../Images/spriteset.png);
  --ss-width: 2.5rem;
  --ss-height: 2.5rem;
  --ss-offset-x: 0px;
  --ss-offset-y: 0px;
  --ss-cols: 10;
  --ss-rows: 2;
}

#home img { height: var(--logo-height) }